@font-face {
	font-family: "OpenSans";
	src: local("OpenSans"),
		url(../fonts/OpenSans-Regular.woff2) format("woff2"),
		url(../fonts/OpenSans-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "OpenSans";
	src: local("OpenSans"),
		url(../fonts/OpenSans-SemiBold.woff2) format("woff2"),
		url(../fonts/OpenSans-SemiBold.woff) format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "OpenSans";
	src: local("OpenSans"),
		url(../fonts/OpenSans-Bold.woff2) format("woff2"),
		url(../fonts/OpenSans-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Playfair Display";
	src: local("Playfair Display"),
		url(../fonts/PlayfairDisplay-Black.woff2) format("woff2"),
		url(../fonts/PlayfairDisplay-Black.woff) format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--main-black: #333;
	--white-color: #fff;
	--purple-color: #A65CF0;

	--orange-color: #FF862F;
	--light-orange: #FFBD59;
	--dark-orange: #BB370E;


	--eaeaea-color: #eaeaea;
	--f7f7f7-color: #F7F7F7;
	--cacaca-color: #cacaca;
	--e9e9e9-color: #e9e9e9;
	--grey-color: #999;
	--dark-grey: #666;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus-visible {
	outline: none;
}

*:focus {
	outline: none;
}

a {
	position: relative;
	color: inherit;
	text-decoration: none;
}

input,
textarea {
	outline: none;
	border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

img,
svg {
	max-width: 100%;
}

body {
	margin: 0;
  min-width: 320px;
	font-family: "OpenSans", sans-serif;
	font-weight: 400;
}