.hero {
  padding: 30px 0 70px 0;

  &__swiper {
    width: 100%;
    height: 100%;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  &__slide {
    min-height: 400px;
    height: auto;

    padding: 80px 0;
  }

  &__slide-one {
    background-image: url(../img/hero-img-1.webp);
  }

  &__slide-two {
    background-image: url(../img/hero-img-2.webp);
  }

  &__slide-three {
    background-image: url(../img/hero-img-3.webp);
  }

  &__slide-one,
  &__slide-two,
  &__slide-three {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 14px;
    height: 14px;

    margin-bottom: 9px;

    background: #333;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin-right: 12px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;

    color: #999;
  }

  .title-white {
    color: var(--white-color);
  }

  &__btn {
    margin-top: 51px;
    padding: 20px 48px;
  }

  &__mobile-btn {
    display: none;
  }
}

@media (max-width: 1350px) {
  .hero {

    padding: 32px 0 70px;

    &__slide-one {
      background-image: url(../img/hero-img-1-1024.webp);
    }

    &__slide-two {
      background-image: url(../img/hero-img-2-1024.webp);
    }

    &__slide-three {
      background-image: url(../img/hero-img-3-1024.webp);
    }
  }

}

@media (max-width: 800px) {
  .hero {
    padding: 32px 0 68px;

    &__slide-one {
      background-image: url(../img/hero-img-1-768.webp);
    }

    &__slide-two {
      background-image: url(../img/hero-img-2-768.webp);
    }

    &__slide-three {
      background-image: url(../img/hero-img-3-768.webp);
    }
  }
}

@media (max-width: 500px) {
  .hero {
    padding: 32px 0 68px;

    &__container {
      padding: 0 30px;
    }

    &__slide {
      min-height: 210px;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 125px;
    }

    &__slide-one {
      background-image: url(../img/hero-img-1-320.webp);
    }

    &__slide-two {
      background-image: url(../img/hero-img-2-320.webp);
    }

    &__slide-three {
      background-image: url(../img/hero-img-3-320.webp);
    }

    &__title {
      font-size: 20px;
      line-height: 27px;
    }

    &__btn {
      display: none;
    }

    &__mobile-btn {
      display: block;
      text-align: center;
      margin-top: 32px;
      padding: 20px 50px;
    }
  }

  .hero .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin-right: 4px;
  }

  .hero .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin-bottom: 0px;
    background: #333;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 7px;
  }
}