.header {
  background: var(--almost-white);

  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: transform .3s linear;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 70px;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    span {
      font-weight: 700;
      color: var(--carbonic);
    }
  }

  .nav {
    &__list {
      display: flex;
      justify-content: space-between;

      margin-right: 30px;
    }

    &__list-item:not(:last-child) {
      margin: 0 20px 0 0;
    }

    &__list-item-link {
      color: inherit;

      font-weight: 500;
      font-size: 20px;
      line-height: 130%;

      transition: color .3s ease 0s;
    }

    &__list-item-link::before {
      content: "";
      bottom: -3px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background: var(--red-main);
      transition: .5s;
      transform: scaleX(0);
    }

    &__list-item-link:hover::before {
      transform: scaleX(1);
    }

    &__burger {
      display: none;
    }


  }

  &__right-content {
    display: flex;
    align-items: center;
  }

  .sun-light,
  .moon-dark {
    width: 30px;
    height: 30px;

    fill: var(--carbonic);
  }

  .sun-light {
    fill: var(--almost-white);
  }

}

.tippy-box[data-theme~='projects-tooltip'] {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  background: #000;
  color: #fff;
}

.header.hide {
  transform: translateY(-70px);
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }

  .header {

    &__right-content {
      align-items: center;
    }

    &__theme {
      padding-right: 30px;
      transform: translateY(2px); 
    }

    .nav {

      order: 2;

      &__list {
        display: block;
        position: fixed;
        text-align: center;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: -100%;
        background-color: var(--almost-white);
        transition: left .3s ease 0s;
        padding: 100px 15px 30px 15px;
      }

      &__list-item:not(:last-child) {
        margin: 0 0 40px 0;
      }

      &__list.active {
        left: 0;
      }

      &__list-item-link {
        font-size: 36px;
        text-align: center;
        display: block;
      }

      &__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 20;
      }

      &__burger span {
        position: absolute;
        background-color: var(--carbonic);
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: calc(50% - 1px);

        transition: all .3s ease 0s;
      }

      &__burger::before,
      &__burger::after {
        content: "";
        background-color: var(--carbonic);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;

        transition: all .3s ease 0s;
      }

      &__burger::before {
        top: -2px;
        bottom: auto;
      }

      &__burger::after {
        top: auto;
        bottom: -2px;
      }

      &__burger.active span {
        transform: scale(0);
      }

      &__burger.active::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }

      &__burger.active::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
    }
  }
}