.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 55;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.modal {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  background-color: var(--white-color);
  z-index: 60;
}

.main-img {
  display: block;
  margin: 0 auto 50px;
  max-width: 100%;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all .3s ease-in-out;
}

.modal--visible {
  display: block;
}

.close-modal-btn {
  position: absolute;
  right: 16px;
  top: 30px;
}

.close-modal-btn,
.close-modal-btn span {
  width: 20px;
  height: 20px;
}

.close-modal-btn span::after,
.close-modal-btn span::before {
  content: "";
  background-color: #999;
  position: absolute;
  width: 25px;
  height: 3px;
  right: 0px;
  top: 0px;
  transition: all 0.3s ease 0s;
}

.close-modal-btn span::after {
  transform: rotate(-45deg);
  border-radius: 20px;

}

.close-modal-btn span::before {
  transform: rotate(-135deg);
  border-radius: 20px;
}

.close-modal-btn span:hover::after,
.close-modal-btn span:hover::before {
  background-color: var(--purple-color);
}

.close-modal-btn span:active::after,
.close-modal-btn span:active::before {
  background-color: #7033AC;
}

.modal--2 {
  position: relative;
  max-width: 1280px; // max-width: 1280px;
  // height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 20px;

  padding: 50px 0 20px 0;

  .modal-content {
    position: relative;
    background-color: var(--color-white);
  }

  .modal-d31-swiper-big {
    --swiper-navigation-color: var(--white-color);
    --swiper-pagination-color: var(--white-color);
  }

  // .modal-main-img {
  // 	display: block;
  // 	margin: 0 auto;
  // 	padding: 0 16px;
  // 	max-width: 100%;
  // }

  // .modal-mini-img {
  // 	margin-top: 70px;
  // }

  // .modal-swiper-content {
  // 	position: relative;
  // }

  // .modal-swiper {
  // 	max-width: 1190px;
  // 	margin: 0 50px;
  // }

  // .modal-swiper-slide:not(:last-child) {
  // 	margin-right: 68px;
  // }

  // .modal-swiper-slide {
  // 	width: max-content;
  // }

  // .swiper-button-next:after,
  // .swiper-rtl .swiper-button-prev:after {
  // 	content: none;
  // }

  // .swiper-button-prev:after,
  // .swiper-rtl .swiper-button-next:after {
  // 	content: none;
  // }

  // .swiper-modal-button-next,
  // .swiper-button-prev {
  // 	top: 138px;
  // 	width: 32px;
  // 	height: 32px;
  // }
}

// .modal--2::before {
// 	content: "";
// 	position: absolute;
// 	width: 126%;
// 	min-height: 32%;
// 	background-color: var(--f7f7f7-color);
// 	bottom: -20px;
// 	left: -110px;
// 	z-index: -1;
// }

@media (max-width: 500px) {
  .modal--2 {
    max-width: 296px;
    height: 286px;


    .modal-mini-img {
      margin-top: 32px;
    }

    .swiper-button-prev,
    .swiper-modal-button-next {
      top: 81px;
    }

    .modal-swiper-slide {
      width: 184px;
    }

    .modal-swiper-slide img {
      display: block;
      margin: 0 auto;
      width: 172px;
      height: 86px;
    }

    .modal-swiper-slide:nth-child(2) img {
      width: 66px;
      height: 61px;
      position: relative;
      bottom: -16px;
    }
  }

  .modal--2::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 38%;
    background-color: var(--f7f7f7-color);
    bottom: 0px;
    left: 0px;
    z-index: -1;
  }
}

.modal--3 {
  max-width: 624px;
  min-height: 421px;

  overflow: hidden;
  border-radius: 10px;
  margin: 0 20px;
}

.modal--3 .modal-content {
  position: relative;
  background-color: var(--color-white);
}

.modal--3 .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 118px 74px 122px;
}

.modal--3 .modal-content img {
  margin-bottom: 20px;
}

.modal-thank-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;

  color: var(--black-color);
}

.modal--1 {
  max-width: 420px;
  min-height: 584px;
  padding: 50px 70px;
  border-radius: 10px;
  margin: 0 20px;

  box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
  border-radius: 30px;

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-logo {
    margin-bottom: 40px;
  }
}


.modal-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  text-align: center;

  color: var(--main-blue);
}

.modal-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 19px;
  color: var(--black-color);
}

.modal-label {
  position: relative;
}

.modal-form-btn {
  margin-bottom: 12px;
}

.js-validate-error-label {
  position: absolute;
  top: -35px;
  left: 17px;
  font-size: 12px;
  line-height: 16px;
}


@media (max-width: 650px) {
  .modal--1 {
    max-width: 480px;

  }

  .modal--3 {
    max-width: 480px;


    .modal-thank-text {
      text-align: center;
    }
  }


}

@media (max-width: 500px) {
  .modal--1 {
    max-width: 296px;


    padding: 30px 16px;

    .close-modal-btn {
      right: 13px;
      top: 22px;
    }

    .modal-title {
      font-size: 24px;
    }

    .modal-text {
      margin-bottom: 16px;
    }

    .modal-input {
      margin-bottom: 16px !important;
    }

    .modal-form-btn {
      padding: 19px 35px;
    }

    .modal-checkbox {
      margin-right: -9px;
    }
  }

  .modal--3 {
    max-width: 296px;
    width: 296px;

    min-height: 216px;

    .modal-content {
      padding: 60px 50px;
    }

    .modal-content img {
      margin-bottom: 14px;
    }

    .close-modal-btn {
      right: 13px;
      top: 22px;
    }

    .modal-thank-text {
      font-size: calc(18px + 14 * (100vw - 320px)/ 680);
    }
  }
}